<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Font  -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Kulim+Park&display=swap" rel="stylesheet">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css"
    integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w=="
    crossorigin="anonymous" />
  <title> Dashboard | Yelly </title>
  <link rel="icon" type="image/x-icon" href="/static/images/logo.png">
</head>
<style>
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Kulim Park', sans-serif;
    font-size: larger;
    background-image: url('/static/images/url-back.png');
    background-size: 300px;
  }

  .bi {
    color: #0003FF;
  }

  .customborder {
    border-radius: 2%;
    border: 2px solid #E95420;
  }

  .card {
    border: none;
    border-radius: 25px;
  }

  #url_header {
    height: 80px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  }

  #logo {
    border-radius: 25%;
    margin-left: 50px;
  }
</style>

<body>

  <!-- navbar  -->

  <div class="container-fluid d-flex align-items-center bg-white" id="url_header">
    <div class="w-100">
      <div class="float-left">
        <img id="logo" src="/static/images/logo.png" alt="Logo" width="70">
      </div>
      <div class="float-right d-flex align-items-center justify-content-center mt-3 mr-4">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle p-2"
            style="background-color: #554DDB !important; color: white !important;; border-radius: 10px !important;"
            type="button" data-toggle="dropdown" aria-expanded="false">
            <%= username %>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" style="color: #554DDB;" href="#edit">Edit Account</a>
            <a class="dropdown-item" style="color: #554DDB;" href="/logout">Logout</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- navbar end  -->

  <div class="container">

    <!-- TOTAL -->
    <div class="col-md-12 d-flex row">
      <div class="col-md-6" style="padding: 100px;">
        <div class="allLink bg-white"
          style="min-height: 150px; padding-top: 30px; padding-bottom: 10px; box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.25); border-radius: 15px;">
          <div class="title">
            <h2 class="text-center">TOTAL LINKS</h2>
          </div>
          <div class="content d-flex flex-row justify-content-around">
            <h2>
              <%= totalLinks %>
            </h2>
            <i class="fa-solid fa-link fa-2x"></i>
          </div>
        </div>
      </div>
      <div class="col-md-6" style="padding: 100px;">
        <div class="allClicks bg-white"
          style="min-height: 150px; padding-top: 30px; padding-bottom: 10px; box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.25); border-radius: 15px;">
          <div class="title">
            <h2 class="text-center">TOTAL CLICK</h2>
          </div>
          <div class="content d-flex flex-row justify-content-around">
            <h2>
              <%= totalVisits %>
            </h2>
            <i class="fa-solid fa-computer-mouse fa-2x"></i>
          </div>
        </div>
      </div>
    </div>
    <!-- TOTAL END -->

    <div class="row">
      <div class="col-12 col-md-12 col-lg-12 p-2 mx-auto">
        <div class="container px-5">
          <div class="d-flex justify-content-center flex-column px-5">
            <form action="/create" method="POST" class="form-inline">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
              <div class="col-md-12 text-center">
                <input required placeholder="Url.." type="url" name="original" id="url" class="form-control"
                  style="box-shadow: 4px 4px 4px #554DDB; width: 75%">
              </div>
              <div class="text-center col-md-12">
                <input type="text" class="form-control mt-4" name="short" id="short" autocomplete="off"
                  placeholder="short" style="box-shadow: 4px 4px 4px #554DDB; width: 75%;" maxlength="10" />
              </div>
              <div class="col-md-12 text-center">
                <input type="submit" class="btn text-white mt-4 "
                  style="background: #554DDB; border-radius: 8px; width: 75%;" value="Create Url" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container p-5">
    <h2 class="text-center">Your Urls</h2>
    <% if(urls.length !=0){ %>
      <% urls.forEach((url)=> { %>
        <div class="col-md-12 mt-4 bg-white justify-content-center"
          style="box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25); border-radius: 8px;">
          <div class="row">
            <div class="col-md-12 mt-3 pb-2" style="border-bottom: 1px solid #d9d9d9 ;">
              <h6 class="text-muted">
                <a class="text-muted" target="_blank" href="<%= url['originalUrl'] %>">
                  <%= url['originalUrl'] %>
                </a>
              </h6>
            </div>
            <div class="col-md-12 mt-3">
              <div class="d-flex justify-content-between">
                <h6>
                  <a class="text-dark urlSlug shortURL" target="_blank" href="<%= url['slug'] %>">
                    <%= url['slug'] %>
                  </a>
                  <button class="copyIcon" style="background: none; border: none; color: #554DDB;"><i
                      class="fa-solid fa-copy"></i></button>
                </h6>
                <h6 class="mb-4">Created:
                  <% const monthNames=["January", "February" , "March" , "April" , "May" , "June" , "July" , "August"
                    , "September" , "October" , "November" , "December" ]; var
                    monthName=monthNames[url['created'].getMonth()] %>
                    <%= url['created'].getDate() %>
                      <%= monthName %>
                        <%= url['created'].getFullYear() %>
                </h6>
              </div>
              <div class="d-flex justify-content-between mb-2">
                <div class="deleteIcon">
                  <form action="/dashboard/<%= url['_id'] %>" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                    <button style="background: none; border: none; color: #554DDB;"><i
                        class="fa-regular fa-trash-can"></i></button>
                  </form>
                </div>
                <div class="linkClick d-flex">
                  <i class="fa-solid fa-link mt-1"></i>
                  <div class="link ml-3 text-white mb-2 text-center"
                    style="background: #554DDB; border-radius: 8px; height: 27px; width: 100px;">
                    <p>Clicks: <span>
                        <%= url['visits'] %>
                      </span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% }) %>
          <% }else{ %>
            <h2 class="text-center mt-3">You Didn't Create URL!</h2>
            <% } %>
  </div>
  <div class="container text-center">
    <p class="text-muted h6">*The validity period of the urls you create is 60 days.</p>
  </div>
  <div class="container mt-5">
    <div class="col-12 col-md-12 col-lg-12 p-2 mx-auto">
      <hr>
      <div class="container px-5 pb-3">
        <h2 class="text-center">Change Profile Information</h2>
        <div id="edit" class="d-flex justify-content-center flex-column px-5">
          <form action="/edit" method="POST" class="form-inline">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <div class="col-md-4 text-center">
              <input required placeholder="Enter Your Email Adress" type="email" name="email" id="email"
                class="form-control mt-4" style="box-shadow: 4px 4px 4px #554DDB; width: 100%;">
            </div>
            <div class="text-center col-md-4">
              <input required type="text" class="form-control mt-4" name="password" id="password" autocomplete="off"
                placeholder="Enter New Password" style="box-shadow: 4px 4px 4px #554DDB; width: 100%;" maxlength="10" />
            </div>
            <div class="col-md-4 text-center">
              <input type="submit" class="btn text-white mt-4 "
                style="background: #554DDB; border-radius: 8px; width: 100%;box-shadow: 4px 4px 4px black;"
                value="Change Profile!" />
            </div>
          </form>
        </div>
      </div>
      <hr>
    </div>
  </div>

  <%- include('./partials/footer.ejs'); %>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
      integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
      crossorigin="anonymous"></script>
    <script>
      var urlSlug = document.querySelectorAll('.urlSlug');
      for (let i = 0; i < urlSlug.length; i++) {
        urlSlug[i].addEventListener('click', () => {
          setTimeout(() => {
            window.location.reload();
          }, 300);
        })
      }

      var copyText = document.querySelectorAll(".shortURL");
      var copyIcon = document.querySelectorAll(".copyIcon");
      console.log(copyText.length);
      for (let a = 0; a < copyText.length; a++) {
        copyIcon[a].addEventListener('click', () => {
          var text = copyText[a].innerHTML;
          console.log(text)
          navigator.clipboard.writeText('http://localhost:8000/' + copyText[a].innerHTML);
        })
      }
    </script>
</body>

</html>